<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #F0F0F0; width: 75%; padding: 20px; border: 1px solid #CCC; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <p *ngIf="weather.length == 0">Searching...</p>
    <div *ngIf="weather.length > 0">
        <table style="width: 100%; text-align: center">
            <thead></thead>
            <tbody>
                <tr>
                    <td *ngFor="let forecast of weather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ (forecast.highTemperature * (1.8) +(32)).toFixed(1)}}F</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ion-content>
